doctype HTML
HTML(ng-app="BattlecryApp")
  head(ng-controller="HeadController as head")
    title Star Wars: Battlecry
    base(href="/")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="assets/css/client.min.css")

  body(ng-controller="AppController as app")
    //- Mobile Menu
    section

    //- App Body
    main

    //- Scripts
    script(src="vendor/angular/angular.min.js")
    script(src="assets/js/client.min.js")
