div.container-fluid
  div.col-md-12
    h1 About
    
    h2 What is Battlecry?
    p Battlecry is a Star Wars fan game set during the galactic civil war, where players can fight through iconic locations with a variety of weapons and equipment.

    h2 Who are we?
    p We are a team of Star Wars fans from all around the world. 
      
    h2 Project History
    p The project was started in late 2012, with the goal of creating modern Star Wars shooter. We initally started out using CRYENGINE 3, but switched over to Unreal Engine 4 in April of 2014. Since then we have been making slow but steady progress. Our vision for what the game should be has changed from when the project was started. A lot in the world of Star Wars has changed. The Star Wars IP and LucasFilms, LucasArts and Industrial Lights and Magic are now owned by Disney. There are new Star Wars movies being made and even a whole new Battlefront game that was released in the fall of 2015. Because of these changes, we have moved away from building another Battlefront game to creating a unique and fun shooter in the Star Wars universe.

    h2 Team Members
    p rocknroll237 | Team Lead
    p Ben | Progreammer, 3D Artist, Level Designer
    p SharkY | Progreammer, 3D Artist, Level Designer
    p Altureus | Musician, Sound Designer
    p De'lante Capers | Voice Actor
    p Chris Rabuse | Graphic Designer, Full Stack Developer
    p Richard Goulet | Sound Designer
    p Vareeg | 3D Artist
    p Ben Halligan | 3D Artist
