h1 Find a player

// Seach
form
  div.input-group
    input(type="search" class="form-control" ng-model="community.searchInput")
    span.input-group-btn
      button(class="btn btn-primary" ng-click="community.search()") Search

p {{community.searchError}}


h1 Community Stats

p Kills {{community.data.stats.kills}}
p Deaths {{community.data.stats.deaths}}
p Won {{community.data.stats.won}}
p Lost {{community.data.stats.lost}}
p Control Points Captured: {{community.data.stats.captures}}
p Games Played: {{community.data.stats.gamesPlayed}}

div.col-md-2
// K/D Chart
div.col-md-4
  canvas(id="kdChart" class="center-block chart chart-doughnut" chart-options="community.kdOptions" chart-data="community.data.stats.kdChart" chart-labels="community.kdLabels")

// Win/Loss Chart
div.col-md-4
  canvas(id="wlChart" class="center-block chart chart-doughnut" chart-options="community.wlOptions" chart-data="community.data.stats.wlChart" chart-labels="community.wlLabels")
div.col-md-2
