h1 Edit Profile

form
  
  // Profile picture
  div.form-group
    label(for="picture") Profile Picture
    input(type="file" ng-model="edit.picture" class="form-control" id="picture")
  // Username
  div.form-group
    label(for="username") Username
    input(type="text" ng-model="edit.username" class="form-control" id="username")
      
  // Change password
  div.form-group
    // Current password
    label(for="currentPassword") Current Password
    input(type="password" ng-model="edit.currentPassword" class="form-control" id="currentPassword")
      
  // New password
  div.form-group
    label(for="newPassword") New Password
    input(type="password" ng-model="edit.newPassword" class="form-control" id="newPassword")
      
  // Confirm new password
  div.form-group
    label(for="confirmNewPassword") Confirm new password
    input(type="password" ng-model="edit.confirmNewPassword" class="form-control" id="confirmNewPassword")
      
  // Save button
  button(type="submit" class="btn btn-danger") Save
    
