div.container-fluid
  h1.text-center {{player.data.account.username}}
  p.text-center Joined: {{player.data.account.joined}}


  h2 Overall

  div(ng-if="player.data.stats.overall.gamesPlayed != 0")
    div.col-md-6
      div.well
        h6.text-center Kills / Deaths
        canvas(id="kdChart" class="center-block chart chart-doughnut" chart-options="player.kdOptions" chart-data="player.data.stats.overall.kdChart" chart-labels="player.kdLabels")

    div.col-md-6
      div.well
        h6.text-center Won / Lost
        canvas(id="kdChart" class="center-block chart chart-doughnut" chart-options="player.wlOptions" chart-data="player.data.stats.overall.wlChart" chart-labels="player.wlLabels")
          
    div.col-md-4
      div.well
        h6.text-center K / D
        h1.text-center {{player.data.stats.overall.kd}}

    div.col-md-4
      div.well
        h6.text-center Kills
        h1.text-center {{player.data.stats.overall.kills.toLocaleString()}}

    div.col-md-4
      div.well
        h6.text-center Deaths
        h1.text-center {{player.data.stats.overall.deaths.toLocaleString()}}
        
    div.col-md-4
      div.well
        h6.text-center Won
        h1.text-center {{player.data.stats.overall.won.toLocaleString()}}
        
    div.col-md-4
      div.well
        h6.text-center Lost
        h1.text-center {{player.data.stats.overall.lost.toLocaleString()}}
        
    div.col-md-4
      div.well
        h6.text-center Games Played
        h1.text-center {{player.data.stats.overall.gamesPlayed.toLocaleString()}}
        
    //-- Donut chart with breakout of amount of games played in every game mode






    // Conquest stats
    h2 Conquest

    div(ng-if="player.data.stats.conquest.gamesPlayed != 0")
      div.col-md-6
        div.well
          h6.text-center Kills / Deaths
          canvas(id="kdChart" class="center-block chart chart-doughnut" chart-options="player.kdOptions" chart-data="player.data.stats.conquest.kdChart" chart-labels="player.kdLabels")

      div.col-md-6
        div.well
          h6.text-center Won / Lost
          canvas(id="kdChart" class="center-block chart chart-doughnut" chart-options="player.wlOptions" chart-data="player.data.stats.conquest.wlChart" chart-labels="player.wlLabels")

      div.col-md-4
        div.well
          h6.text-center K / D
          h1.text-center {{player.data.stats.conquest.kd}}
          
      div.col-md-4
        div.well
          h6.text-center Kills
          h1.text-center {{player.data.stats.conquest.kills.toLocaleString()}}
          
      div.col-md-4
        div.well
          h6.text-center Deaths
          h1.text-center {{player.data.stats.conquest.deaths.toLocaleString()}}

      div.col-md-4
        div.well
          h6.text-center Won
          h1.text-center {{player.data.stats.conquest.won.toLocaleString()}}
          
      div.col-md-4
        div.well
          h6.text-center Lost
          h1.text-center {{player.data.stats.conquest.lost.toLocaleString()}}
          
      div.col-md-4
        div.well
          h6.text-center Control Points Captured
          h1.text-center {{player.data.stats.conquest.captures.toLocaleString()}}

      div.col-md-12
        div.well
          h6.text-center Games Played
          h1.text-center {{player.data.stats.conquest.gamesPlayed.toLocaleString()}}

    div(ng-if="player.data.stats.conquest.gamesPlayed == 0")
      p {{player.data.account.username}} has not played this game mode yet!
      
      
      
      

    // Team Death Match stats
    h2 Team Death Match
    div(ng-if="player.data.stats.teamDeathMatch.gamesPlayed != 0")
      div.col-md-6
        div.well
          h6.text-center Kills / Deaths
          canvas(id="kdChart" class="center-block chart chart-doughnut" chart-options="player.kdOptions" chart-data="player.data.stats.teamDeathMatch.kdChart" chart-labels="player.kdLabels")

      div.col-md-6  
        div.well
          h6.text-center Won / Lost
          canvas(id="kdChart" class="center-block chart chart-doughnut" chart-options="player.wlOptions" chart-data="player.data.stats.teamDeathMatch.wlChart" chart-labels="player.wlLabels")

      div.col-md-4
        div.well
          h6.text-center K / D
          h1.text-center {{player.data.stats.teamDeathMatch.kd}}

      div.col-md-4
        div.well
          h6.text-center Kills
          h1.text-center {{player.data.stats.teamDeathMatch.kills.toLocaleString()}}

      div.col-md-4
        div.well
          h6.text-center Deaths
          h1.text-center {{player.data.stats.teamDeathMatch.deaths.toLocaleString()}}

      div.col-md-4
        div.well
          h6.text-center Won
          h1.text-center {{player.data.stats.teamDeathMatch.won.toLocaleString()}}

      div.col-md-4
        div.well
          h6.text-center Lost
          h1.text-center {{player.data.stats.teamDeathMatch.lost.toLocaleString()}}

      div.col-md-4
        div.well
          h6.text-center Games Played
          h1.text-center {{player.data.stats.teamDeathMatch.gamesPlayed.toLocaleString()}}
      
    div(ng-if="player.data.stats.teamDeathMatch.gamesPlayed == 0")
      p {{player.data.account.username}} has not played this game mode yet!
      
      
      
      
      

    // Free for All stats
    h2 Free for All

    //- Hide stats
    div(ng-if="player.data.stats.freeForAll.gamesPlayed != 0")
      div.col-md-12
        div.well
          h6.text-center Kills / Deaths
          canvas(id="kdChart" class="center-block chart chart-doughnut" chart-options="player.kdOptions" chart-data="player.data.stats.freeForAll.kdChart" chart-labels="player.kdLabels")

      div.col-md-4
        div.well
          h6.text-center K / D
          h1.text-center {{player.data.stats.freeForAll.kd}}

      div.col-md-4
        div.well
          h6.text-center Kills
          h1.text-center {{player.data.stats.freeForAll.kills.toLocaleString()}}

      div.col-md-4
        div.well
          h6.text-center Deaths
          h1.text-center {{player.data.stats.freeForAll.deaths.toLocaleString()}}

      div.col-md-12
        div.well
          h6.text-center Games Played
          h1.text-center {{player.data.stats.freeForAll.gamesPlayed.toLocaleString()}}
      
    div(ng-if="player.data.stats.freeForAll.gamesPlayed == 0")
      p {{player.data.account.username}} has not played this game mode yet!
      
  div(ng-if="player.data.stats.overall.gamesPlayed == 0")
    div.col-md-12
      div.well
        p.text-center {{player.data.account.username}} has not played online yet!
