doctype HTML
html(ng-app="battlecryApp")
  head
    title Galaxy Divided
    base(href="/")
    script(src="vendor/angular/angular.min.js")
    script(src="vendor/angular-route/angular-route.min.js")
    script(src="vendor/angular-loading-bar/build/loading-bar.min.js")
    script(src="assets/js/client.min.js")
    link(rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="vendor/angular-loading-bar/build/loading-bar.min.css")
    link(rel="stylesheet" href="assets/css/style.min.css")
  body(ng-controller="AppController as app")
    nav(class="navbar navbar-default")
      div(class="container-fluid")
        div.navbar-header
          button(class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
            span.sr-only Toggle Animation
            span.icon-bar
            span.icon-bar
            span.icon-bar
      // Logo
      a(class="navbar-brand" href="/") Logo
      
      // Navigation Links
      ul(class="nav navbar-nav")
        li
          a(href="/") Home
        li
          a(href="/community") Community
        li
          a(href="/about") About
      
    // Appliction view
    main(class="container-fluid")
      section(ng-view)
